/* Reset margins and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 20px;
}

/* General page settings */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
}

/* Header styling */
h1 {
    color: #333;
    margin-bottom: 10px;
}

/* Table styling */
table {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Header cell styling */
th {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: left;
    font-size: 16px;
    border: 1px solid #ddd;
}

/* Data cell styling */
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Styling for even rows */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect for rows */
tbody tr:hover {
    background-color: #e2f7e2;
}

/* Style for the "Go to sales page" link */
a {
    width: fit-content;
    font-size: 1.2em;
    color: #4CAF50;
    text-decoration: none;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* Hover effect for the link */
a:hover {
    background-color: #4CAF50;
    color: white;
}