<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sales Report</title>
    <link rel="stylesheet" type="text/css" href="/css/salesStyle.css">
</head>
<body>
    <h1>Sales Report</h1>
    
    <!-- Table displaying sales data -->
    <h2>Accumulated Sales Report</h2>
    <button onclick="exportTableToExcel('saleStockTable', 'AccumulatedSalesReport.xlsx')" class="exportBtn">
        Export Accumulated Sales Report</button>
    <table id="saleStockTable">
        <thead>
            <tr>
                <th><button id="sortBtn0" class="sortBtn" onclick="sortTable('saleStockTable', 0)">Product ID</button></th>
                <th><button id="sortBtn1" class="sortBtn" onclick="sortTable('saleStockTable', 1)">Product Name</button></th>
                <th><button id="sortBtn2" class="sortBtn" onclick="sortTable('saleStockTable', 2)">Quantity Sold</button></th>
                <th><button id="sortBtn3" class="sortBtn" onclick="sortTable('saleStockTable', 3)">Total Profit</button></th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over the combined sales and stock list and display details -->
            <tr th:each="saleStock : ${saleStockList}">
                <td th:text="${saleStock.productId}"></td>
                <td th:text="${saleStock.productName}"></td>
                <td th:text="${saleStock.quantitySold}"></td>
                <td th:text="${saleStock.totalProfit}"></td>
            </tr>
        </tbody>
    </table>

    <!-- Section displaying sales person and their sales -->
    <h2>Employee sales</h2>
    <button onclick="exportTableToExcel('salesPersonsTable', 'EmployeeSales.xlsx')" class="exportBtn">
        Export Employee Sales</button>
    <table id="salesPersonsTable">
        <thead>
            <tr>
                <th><button id="sortBtn0" class="sortBtn" onclick="sortTable('salesPersonsTable', 0)">Sales Person</button></th>
                <th><button id="sortBtn1" class="sortBtn" onclick="sortTable('salesPersonsTable', 1)">Total Profit</button></th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate through salesperson profits -->
            <tr th:each="sPProfits : ${salesPersonProfits}">
                <td th:text="${sPProfits.key}"></td>
                <td th:text="${sPProfits.value}"></td>
            </tr>
        </tbody>
    </table>

    <!-- Section displaying every single individual sale -->
    <h2>Individual Sales</h2>
    <button onclick="exportTableToExcel('salesTable', 'Individual Sales.xlsx')" class="exportBtn">
        Export Individual Sales</button>
    <table id="salesTable">
        <thead>
            <tr>
                <th><button id="sortBtn0" class="sortBtn" onclick="sortTable('salesTable', 0)">Sale ID</button></th>
                <th><button id="sortBtn1" class="sortBtn" onclick="sortTable('salesTable', 1)">Product ID</button></th>
                <th><button id="sortBtn2" class="sortBtn" onclick="sortTable('salesTable', 2)">Product</button></th>
                <th><button id="sortBtn3" class="sortBtn" onclick="sortTable('salesTable', 3)">Price</button></th>
                <th><button id="sortBtn4" class="sortBtn" onclick="sortTable('salesTable', 4)">Sales Person ID</button></th>
                <th><button id="sortBtn5" class="sortBtn" onclick="sortTable('salesTable', 5)">Sales Person</button></th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteration through list -->
            <tr th:each="sale : ${saleList}">
                <td th:text="${sale['saleId']}"></td>
                <td th:text="${sale['productId']}"></td>
                <td th:text="${sale['productTypeName']}"></td>
                <td th:text="${sale['price']}"></td>
                <td th:text="${sale['salesPersonId'] != -1 ? sale['salesPersonId'] : ''}"></td>
                <td th:text="${sale['salesPersonNameSurname']}"></td>
            </tr>
        </tbody>
        <!--<thead>
            <tr>
                <th>Sale ID</th>
                <th>Product ID</th>
                <th>Price</th>
                <th>Product Type</th>
                <th>Sales Person ID</th>
                <th>Sales Person Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="salePerson : ${salePersonsWithSaleDTOList}">
                <td th:text="${salePerson.saleId}"></td>
                <td th:text="${salePerson.productId}"></td>
                <td th:text="${salePerson.price}"></td>
                <td th:text="${salePerson.productTypeName}"></td>
                <td th:text="${salePerson.salesPersonId}"></td>
                <td th:text="${salePerson.salesPersonNameSurname}"></td>
            </tr>
        </tbody>-->
    </table>

    <!-- Link to navigate to the charts page -->
    <a href="/charts">Go to chart page</a>
</body>
</html>

<script src="/js/salesscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
